.container--nav {
    width: 100%;
    height: 60px;
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.container--nav_name {
    display: flex;
    align-items: center;
}

.container--nav_name span svg {
    transform: rotate(180deg);
    margin-left: 10px;
}

.container--input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 30px;
    background-color: aliceblue;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.container--input i {
    width: 10%;
    text-align: center;
    color: black;
}

.container--input input {
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
}

.container--messanges {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container--messanges_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.container--messanges_header span:nth-child(2) {
    color: #119eda;
    cursor: pointer;
}

.container--messanges_chats--container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 60px;
}

.chats--container_chat {
    display: flex;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.chats--container_chat:hover {
    background-color: #d2d7dc47;
}

.chats--container_chat img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chats--container_chat_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}

/* Componente Comunication =============================================================== */

.conversation-nav {
    width: 100%;
    height: 60px;
    position: fixed;
    padding: 10px;
    z-index: 100;
    background-color: #000000;
}

.container--nav_name i {
    font-size: 30px;
    cursor: pointer;
}

.container--nav_name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
}

.container--conversation {
    width: 100%;
    position: relative;
    top: -40px;
    height: 80vh;
}

.container--conversation_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container--conversation_info img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.container--conversation_info_details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container--conversation_info_details spam {
    margin: 0px 10px;
}

.container--conversation_info button {
    padding: 3px 5px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 10px;
    cursor: pointer;
}

.container--conversation_messanges {
    width: 100%;
    height: 100%;
    padding-top: 40px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.messange {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.messange img {
    border-radius: 24px;
}

.messange--string {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #cbced1;
    border-radius: 24px;
    color: #000;
}

/* Componente InputSendMenssange =============================================================== */

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container--inputSend {
    width: 95%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #cbced1;
    color: #000;
    position: fixed;
    bottom: 0px;
}

.container--inputSend textarea {
    border-radius: inherit;
    border: none;
    width: 80%;
    outline: none;
    background-color: transparent;
    resize: none;
    padding: 5px;
    font-size: 15px;
}

.container--inputSend button {
    padding: 5px;
    border: none;
    font-weight: bold;
    background-color: transparent;
    font-size: 18px;
    color: #33188a;
}

.container--inputSend_icons {
    margin: 0 5px;
}

/* componente newChat ============================================================ */

.containerNewChat {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 100px;
    opacity: 0;
    z-index: -1;
    background-color: #000;
    transition: all .1s linear;
    overflow: scroll;
}

.active {
    opacity: 1;
    left: 0px;
    z-index: 200;
}

.containerNewChat_nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #000;
    position: fixed;
    font-size: 18px;
    z-index: 2;
}

.containerNewChat_nav div:nth-child(1) {
    padding: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.containerNewChat_nav div:nth-child(1) i {
    margin-right: 10px;
    cursor: pointer;
    font-size: 40px;
}

.containerNewChat_nav div:nth-child(2) {
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: inherit;
}

.containerNewChat_nav div:nth-child(2) input {
    border: none;
    border-radius: 20px;
    padding: 5px;
    width: 80%;
    height: 40px;
    margin-top: 5px;
    outline: none;
}

.containerNewChat_button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    z-index: 100;
    bottom: 0;
    padding: 0px 20px 20px 20px;
    background-color: #000;
}

.containerNewChat_button button {
    width: 60%;
    outline: none;
    border: none;
    border-radius: 24px;
    padding: 10px;
    background-color: #119eda;
    color: #cbced1;
    font-weight: bold;
    cursor: pointer;
}

.containerNewChat_suggestions {
    padding-top: 130px;
    padding-bottom: 50px;
}

.containerNewChat_suggestions > span {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
}

.containerNewChat_suggestions_options {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.containerNewChat_suggestions_options_option {
    width: 100%;
    height: 60px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerNewChat_suggestions_options_option div {
    display: flex;
    align-items: center;
    padding: 5px;
}

.containerNewChat_suggestions_options_option div img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 20px;
}

.label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
}

.label input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.label_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.label:hover input~.label_checkmark {
    background-color: #ccc;
}

.label input:checked~.label_checkmark {
    background-color: #72bcdc;
}

.label_checkmark:after {
    content: "";
    position: absolute;
    display: none;
    z-index: 1;
}

.label input:checked~.label_checkmark:after {
    display: block;
}

.label .label_checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
}

@media only screen and (min-width: 469px) {
    /* /direct */
    .container--nav {
        height: 90px;
    }
    .container--nav_name {
        font-size: 20px;
    }
    .container--input {
        height: 40px;
        margin-bottom: 30px;
    }
    .container--input input {
        font-size: 18px;
    }
    .container--messanges_header {
        font-size: 18px;
    }
    .chats--container_chat img {
        width: 60px;
        height: 60px;
    }
    /* /direct/chat */
    .conversation-nav {
        height: 90px;
        display: flex;
    }
    .container--nav_name {
        font-size: 20px;
    }
    .container--nav_name img {
        width: 60px;
        height: 60px;
    }
}

