.container--histories {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    gap: 25px;
}

.story--container {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.story--container img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

.story--container span {
    display: inline-block;
    width: inherit;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    letter-spacing: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (min-width: 400px) {

}