:root {
    --dimension-photo: 114.67px;
    --dimension-photo_tablet: 145.67px;
    --dimension-photo_600: 190px;
}

.container--nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #b9b3b3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: #000000;
    z-index: 100;
}

.container--nav span svg{
    transform: rotate(180deg);
    margin-left: 10px;
}

/* Contenedor de profile ================================================================ */

.container--profile {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    padding: 20px;
}

.container--profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.container--profile_sttings {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--profile_sttings--name {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    margin-bottom: 15px;
}

.container--profile_sttings button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background: #ffffff;
    cursor: pointer;
}

.container--profile_sttings button:hover {
    background: #e6dfdf
}

.container--profile_description {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.container--profile_description a {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

.container--profile_description a:hover {
    text-decoration: underline;
}

.container--info {
    width: 100%;
    border-top: 1px solid #b9b3b3;
}

.container--info_counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #b9b3b3;
}

.container--info_counter div {
    height: 100%;
    width: 33.33%;
    padding: 10px;
}

/* Componente Photos ================================================= */

.container--photos {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    justify-content: center;
    margin-bottom: 70px;
}

.container--photos-photo {
    position: relative;
    width: var(--dimension-photo);
    height: var(--dimension-photo);
}

.container--photos-photo img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.container--photos-photo-icons {
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: transparent;
    width: var(--dimension-photo);
    height: var(--dimension-photo);
    cursor: pointer;
}

.container--photos-photo-icons:hover {
    background-color: #13111157;
}

@media only screen and (min-width: 469px) {
    .container--nav {
        height: 90px;
    }

    .container--nav span {
        font-size: 25px;
    }

    .container--profile_sttings--name {
        font-size: 20px;
    }

    .container--profile_sttings {
        width: 250px;
    }

    .container--profile_sttings button {
        font-size: 17px;
    }

    .container--photos-photo {
        width: var(--dimension-photo_tablet);
        height: var(--dimension-photo_tablet);
    }

    .container--photos-photo-icons {
        width: var(--dimension-photo_tablet);
        height: var(--dimension-photo_tablet);
    }
}

@media only screen and (min-width: 592px) {

    .container--profile {
        width: 80%;
        margin: 0 auto;
    }

    .container--profile_sttings {
        width: 340px;
        flex-direction: row;
        position: relative;
    }

    .container--profile_sttings--name {
        position: absolute;
        display: flex;
        justify-content: space-between;
        z-index: -1;
    }

    .container--profile_sttings--name span{
        order: 1;
    }
    
    .container--profile_sttings button {
        width: 150px;
        margin: 0 auto;
        height: 30px;
        padding: 0;
    }

    .container--profile_sttings--name svg {
        order: 3;
    }


    .container--photos-photo {
        width: var(--dimension-photo_600);
        height: var(--dimension-photo_600);
    }

    .container--photos-photo-icons {
        width: var(--dimension-photo_600);
        height: var(--dimension-photo_600);
    }
}

