.container--search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #000;
    height: 60px;
    border-bottom: 1px solid #b9b3b3;
}

.container--search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    color: #a8a8a8;
    border-radius: 8px;
    width: 250px;
    height: 35px;
    padding: 10px;
}

.container--search-input input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
    color: #a8a8a8;
    font-size: 17px;
    margin-left: 10px;
}

@media only screen and (min-width: 400px) {

}